<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <div id="hero-image">
      <h1 id ="hero-title"><%= title %></h1>
    </div>
    <div  id="posters-wrapper" class="content-padding clearfix">
      <% movies.forEach(function(movie){ %>
        <div class="poster">
            <img src="/images/<%= movie.poster %>" class="img-responsive">

            <div class="poster-info-overlay">
              <h3><%= movie.title %></h3>
              <h4>View More <i class="fa fa-arrow-right"></i></h4>
            </div>

        </div>

      <% }); %>
    </div>



    <% include partials/script %>
  </body>
</html>
