<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <div id="hero-image-notFound">
      <h1 id ="hero-title"><%= title %></h1>
    </div>




    <% include partials/script %>
  </body>
</html>
